/* 
.search {
    padding: 6px 10px;
    background-color: aliceblue;
}

.filter-section, .overview-section {
    padding: 0px;
    height: 98vh;
}

.filter-section {
    
    background-color: #edebe9;
}

.detail-section {
    margin-top: 50px;
}

.subject span,
.from span {
    float: right;
    vertical-align: middle;
}

.detail-section .from,
.detail-section .subject {
    margin-bottom:10px;
}
.detail-section .subject,
.detail-section .mail-ontent{
    margin-bottom:30px;
}

.overview-heading {
    padding: 6px 10px;
    background-color: ghostwhite;
}

.heading {
    font-size:13px;
    padding: 10px 6px 0px 6px;
}

.category {
    padding: 5px 35px;
    cursor: pointer;
}

.category:hover {
    background-color: #b3b3b3;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show 
    -webkit-box-orient: vertical;
    margin-bottom:20px;
}

.subject {
    font-family: serif;
    color: cornflowerblue;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.active {
    background-color: #c7e0f4;
}

.mail-container {
    padding: 10px;
    border-right: 1px solid #d2d2d2;
    height:90vh;
}
.email-item {
    cursor:pointer;
} */

.header {
    /* box-shadow: 3px 3px 3px 1px #ccc; */
    box-shadow: 1px 1px 3px 1px #ccc;
    height: 35px;
    padding: 8px 5px;
    background-color: #004253;
    color: white;
}

.modal {
    opacity: 1 !important;
}

.main-heading {
    font-size: 18px;
    font-weight:bold;
}

.sub-heading {
    margin-top: 10px;
    margin-left: -25px;
    margin-bottom: 10px;
}

.header-btn {
    margin-left: 30px;
    /* border: 1px solid lightgray; */
    padding: 5px 10px;
    background-color:#f5f5f5;
    height:30px;
}

.first-btn {
    background-color: #004253;
    color:white;
}

.nav-item.active {
    background-color: #004253;
    color:white;
}

.nav-item {
    margin-left: 10px;
    /* border: 1px solid lightgray; */
    padding: 5px 10px;
    background-color:#f5f5f5;
    height:30px;
}

.nav-tabs {
    border-bottom: none;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.dropdown {
    display: inline-block;
    width: 70%;
}

.dropdown-loc {
    display: inline-block;
    width: 65%;
}

.label {
    color: #004253;
    display: block;
    font-weight: normal;
    font-size:13px;
    text-align: left;
    padding-left: 0px;
    font-weight: bold;
}

.logo {
    height:25px;
    width:60px;
    margin-left: 10px;
    margin-top: -10px;
}

.find-btn {
    margin-top: 25px;
    margin-left: -130px;
    height: 25px;
    font-size: 12px;
    background-color: #6ad36e;
    color: #004253;
    width:60px;
}

.field-row {
    margin-top:30px;
}

.field-row1 {
    margin: 30px 0px 0px 0px;
}

.acct-num {
    height: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    width: 67%;
}

.button {
    width: 85px !important;
}

.rad {
    vertical-align: sub;
}

.report-heading {
    margin-left: -20px;
    padding: 5px 20px 5px;
    color: #004253;
    font-weight: bold;
    font-size: 15px;
    background-color: #eaf3f6;
    margin-right: -20px
}

.radio {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-weight: normal !important;
}

.table-header {
    padding: 5px 8px;
    border-bottom: none;
    color: white;
    background-color: #004253;
}

.table-section {
    border: 1px solid gray;
    margin-top: 20px;
    position:relative;
    padding-bottom: 18px;
}

.account {
    margin: 8px -4px;
}

.page {
    padding: 0px 5px;
    border: 1px solid gray;
}

.react-bootstrap-table {
    margin: 10px 15px;
}

.expand-cell {
    width: 30px;
}

.button {
    float: right;
    margin-right: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    border:none;
    width:60px;
    height:28px;
}

.cancel-btn {
    margin-right: 10px;
    color: #004253;
}

.submit-btn {
    background-color: #6ad36e;
    color: #004253;
}

.main-section {
    background-color: #fcfcfc;
    padding-top: 1px;
    padding-left:20px;
    padding-right:20px;
}

.modal-content {
    margin-top: 150px !important;
}

.close {
    display: none;
}
.pagination1 {
    position: absolute;
    bottom: 6px;
    right: 0px;
}

.modal-header {
    background-color: #004253;
    color: white;
    height: 45px;
    padding: 10px 15px;
    font-weight: 900;
}

.btn-secondary {
    background-color: #6ad36e;
    color: #004253;
}

.btn-primary {
    background-color: #dcdcdc;
    color: #004253;
}

.modal-body {
    height: 70px;
    padding-top: 25px;
}

.modal-footer {
    padding: 10px 15px;
}


th {
    background-color: #eaf3f6;
    color: #004253;
}

.tab-pane.fade.active {
    opacity: 1!important;
}

.nav-item {

}